*{
    margin: 0;
    padding: 0;
}

.contayner{
    width: 1366px;
    margin: 0 auto;
}

/* style div class="top-top"*/
.top-top{
    height: 800px;
    background-image: url(img/slider-img.jpg);
}

.header-contayner{
    display: grid;
    grid-template-columns: 7fr 5fr 1fr;
    box-sizing: border-box;
}

.main-logo{
    width: 185px;
    height: 22px;
    padding-left: 98px;
    padding-top: 63px;
}

.header-nav{
    width: 490px;
    padding-top: 67px;
    margin-right: 21px;
    display: flex;
    justify-content: space-around;

}

.header-link{
    /* Style for "HOME     P" */
    
color: #8c8c8c;
font-family: Montserrat;
font-size: 14px;
font-weight: 300;
text-transform: uppercase;
/* Text style for "HOME" */
color: #212121;
font-family: "Montserrat - Bold";
font-weight: 700;
letter-spacing: 1.4px;
/* Text style for "PRODUCTS" */
font-family: "Montserrat Light";
font-weight: 300;
letter-spacing: 1.4px;
}

.search-search{
    width: 23px;
    height: 23px;
    padding-top: 63px;
    padding-right: 167px;
}
.top-top-center{
    display: flex;
    flex-direction: column;
    
}

.TRENDING{
    /* Style for "TRENDING" */
    width: 109px;
    height: 13px;
    color: #43a047;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    /* Text style for "TRENDING" */
    color: #43a047;
    letter-spacing: 1.8px;
    margin-left: 98px;
    margin-top: 288px;
}
.Fishnet-Chair{
    /* Style for "Fishnet Ch" */
    height: 43px;
    color: #212121;
    font-family: "Montserrat - Thin";
    font-size: 62px;
    font-weight: 400;
    line-height: 72px;
    text-transform: uppercase;
    margin-left: 106px;
    margin-top: 22px;
}

.text-top-top{
   /* Style for "Seat and b" */
    width: 458px;
    height: 38px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-top: 34px;
    margin-left: 98px;
}

.button-top{
    /* Style for "back" */
    width: 212px;
    height: 45px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    margin-left: 98px;
    margin-bottom: 200px;
    margin-top: 32px;
}

.button-top-text{
    /* Style for "Order Us" */
    color: #212121;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    text-align: center;
    /* Text style for "Order Us" */
    color: #212121;
    letter-spacing: 3.6px;
    padding-left: 31px;
}

.footer-top{
    width: 120px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 19px;
}

.navi-pagination{
    width: 120px;
    height: 40px;
    margin: 0 auto;
    margin-bottom: 19px;
}


.navi-pagination: :hover{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #212121;
}

/* style div class="big-second"*/
.big-second{

}

/* style div class="new-headline"*/
.new-headline{
    display: flex;
    justify-content: space-between;
    margin-top: 120px;
}

.featured-new{
    display: flex;
    justify-content: center;
}

.featured{
    width: 158px;
    height: 27px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    padding-left: 107px;
}

.new{
    width: 80px;
    height: 25px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    margin-top: 2px;
}

.explore-all-arrow{
    display: flex;
    justify-content: center;
    margin-top: 18px;
}

.explore-all{
    /* Style for "explore al" */
    height: 13px;
    color: #212121;
    color: #6c6c6c;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
    /* Text style for "explore al" */
    color: #212121;
    letter-spacing: 3.6px;
}

.img-arrow{
    /* Style for "arrow" */
    width: 9px;
    height: 12px;
    margin-left: 12px;
    margin-right: 97px;
}
.hr-left{
    width: 187px;
    height: 3px;
    background-color: #6c6c6c;
    margin-left: 98px;
    margin-top: 21px;
}

.hr:active{
    width: 187px;
    height: 3px;
    background-color: #212121;
}

.four-pictures{
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.banner{
    width: 270px;
    height: 270px;
    border: 1px solid #9c9c9c;
    background-color: #ffffff;
    opacity: 0.9;
    margin-left: 98px;
}

.office-chair{
    margin-right: 98px;
}

.two-armchairs .jug{
    margin-left: 30px;
}

.banner-centr{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle-button{
    width: 48px;
    height: 48px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 24px;
    background-color: #ffffff;
    margin-top: 68px;
    margin-bottom: 19px;
}

.batton-arrow{
    width: 12px;
    height: 20px;
}

.fishnet-chair-banner{
    width: 145px;
    height: 17px;
    color: #212121;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 700;
    line-height: 29.88px;
    margin-bottom: 23px;
}

.text-banner{
    width: 206px;
    height: 33px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 21.91px;
    text-align: center;
}

.two-chairs{
    display: flex;
    justify-content: center;
    height: 683px;
    margin-top: 120px;
}

.left{
    width: 683px;
    height: 683px;
    background-image: url(img/promo-img1.png);
}

.right{
    width: 683px;
    height: 683px;
    background-image: url(img/promo-img.png);
}
.left-center{
    display: flex;
    flex-direction: column;
}

.exclusive{
    /* Style for "exclusive" */
    width: 115px;
    height: 13px;
    color: #1e88e5;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 48px;
    text-transform: uppercase;
    /* Text style for "exclusive" */
    color: #1e88e5;
    letter-spacing: 1.8px;
    margin-top: 228px;
    margin-left: 51px;
}

.fishnet-chair-left{
    width: 236px;
    height: 28px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    margin-left: 52px;
    margin-top: 18px;
    margin-bottom: 24px;
}

.left-text{
    width: 374px;
    height: 36px;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 300;
    line-height: 24.04px;
    margin-left: 50px;
    margin-bottom: 34px;
}

.button-left{
    width: 212px;
    height: 46px;
    box-shadow: 0 2px 5px 1px rgba(33, 33, 33, 0.35);
    border-radius: 23px;
    background-color: #ffffff;
    margin-left: 50px;
}

.button-left-text{
    color: #212121;
    color: #6c6c6c;
    font-family: Montserrat;
    font-size: 18px;
    font-weight: 700;
    line-height: 24.04px;
    text-transform: uppercase;
    /* Text style for "Order Us" */
    color: #212121;
    letter-spacing: 3.6px;
}

.six-pictures-headline{
    display: flex;
    justify-content: space-between;
    margin-top: 119px;
}

.trending-products{
    width: 331px;
    height: 35px;
    color: #212121;
    font-family: Montserrat;
    font-size: 36px;
    font-weight: 700;
    margin-left: 98px;
}

.three-pictures-top{
    height: 370px;
    display: flex;
    justify-content: space-around;
    margin-top: 64px;
    margin-left: 98px;
}

.product-11{
    width: 370px;
    height: 370px;
}

.product-21{
    width: 370px;
    margin-left: 30px;
    margin-right: 30px;
}

.product-31{
    width: 370px;
    margin-right: 98px;
}

.three-pictures-bottom{
    height: 370px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.product-41{
    width: 370px;
    margin-left: 98px;
}
.product-5{
    width: 370px;
    margin-left: 30px;
    margin-right: 30px;
}

.product-6{
    width: 370px;
    margin-right: 98px;
}

.round-table{
    height: 800px;
    background-image: url(img/layers.jpg);
    margin-top: 120px;
}

.hot-deal{
    height: 13px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #e53935;
    margin-left: 99px;
    padding-top: 287px;
    margin-bottom: 22px;
}

.round-table-fishnet-chair{
    height: 43px;
    font-family: Montserrat;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    text-transform: uppercase;
    color: #212121;
    margin-left: 106px; 
    margin-bottom: 34px;   
}

.round-table-text{
    width: 458px;
    height: 38px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    margin-left: 98px;
}

.exclusive-big{
    display: flex;
    justify-content: space-between;
    height: 570px;
    margin-top: 120px;
}

.exclusive-left{
    
    width: 570px;
    height: 570px;
    background-image: url(img/product_1_lg_66.png);
    margin-left: 98px;  
}

.exclusive-left-left{
    width: 115px;
    height: 13px;
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #1e88e5;
    margin-top: 186px;
    margin-left: 31px;
    margin-bottom: 18px;
}

.fishnet-chair-exclusive-left{
    width: 236px;
    height: 28px;
    font-family: Montserrat;
    font-size: 36px;
    line-height: 1.2;
    font-weight: 700;
    color: #212121;
    margin-left: 32px;
    margin-bottom: 24px;
    }

.exclusive-left-left-text{
    width: 332px;
    height: 36px;
    font-family: Montserrat;
    font-size: 14.1px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    margin-left: 30px;
    margin-bottom: 33px;
    
}

.exclusive-right{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 570px;
    height: 570px;
    margin-right: 98px;
}

.sconces{
    width: 270px;
    height: 270px;
    margin-bottom: 30px;
    margin-right: 30px;
}

.clock{
    width: 270px;
    height: 270px;
    margin-right: 30px;
}

.footer{
    width: 1366px;
    height: 516px;
    background-image: url(img/back_img_44.png);
    margin-top: 120px;
}

.mobile-app{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 48px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    padding-top: 125px;
    margin-left: 99px;
}

.big-text{
    width: 407px;
    height: 116px;
    font-family: Montserrat;
    font-size: 62px;
    line-height: 72px;
    font-weight: 100;
    color: #212121;
    margin-left: 106px;
}

.little-text{
    font-family: Montserrat;
    font-size: 22px;
    line-height: 24px;
    font-weight: 300;
    color: #6c6c6c;
    margin-top: 26px;
    margin-left: 99px;
}

.mobile-icon{
    display: flex;
    justify-content: left;
    margin-top: 33px;
    margin-left: 98px;
}

.apple{
    width: 135px;
    height: 40px;
    margin-right: 10px;
}

.android{
    width: 135px;
    height: 40px;
}

.footer-bottom{
    width: 1366px;
    height: 384px;
    background-color: #f7f7f7;
}

.name{
    display: flex;
    justify-content: space-between;
}

.footer-bottom-left{
    
}

.contact-us{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-left: 99px;
    margin-bottom: 24px;
    margin-top: 120px;
    margin-right: 168px;
}

.left-text-top{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin-left: 97px;
}

.australia{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin-left: 97px;
}

.left-text-bottom{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin-left: 97px;
}

.mail{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    margin-left: 97px;
}

.useful-information{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-top: 120px;
    margin-bottom: 25px;
}

.touch{
    font-family: Montserrat;
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: #6c6c6c;
    margin-top: 120px;
    margin-right: 237px;
}

.two-blocks{
    display: flex;
}

.left-blocks{
    margin-right: 103px;
}
.sales-terms{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.customer-care{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.delivery{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.architect-accounts{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.careers{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.exchanges{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #212121;
}

.right-text{
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #212121;
    width: 363px;
    height: 36px;
    margin-top: 24px;
}

.user_email{
    width: 370px;
    background-color: #ffffff;
    border: 1.0px solid #d9dee1;
    margin-top: 26px;
    font-family: Montserrat;
    font-size: 14px;
    line-height: 22px;
    font-weight: 300;
    color: #6c6c6c;
    padding-left: 19px;
    padding-top: 17px;
    padding-bottom: 17px;
}

.most{
    display: flex;
    justify-content: space-around;
}

.most-left{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
    margin-left: 98px;
    margin-top: 67px;
}

.social-icon{
    width: 129px;
    height: 28px;
    font-family: icomoon;
    font-size: 28px;
    line-height: 26px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    color: #6c6c6c;
    margin-top: 59px;
}

.most-right{
    font-family: Montserrat;
    font-size: 12px;
    line-height: 26px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    color: #6c6c6c;
    margin-top: 59px;
}

.input-contayner{
    position: relative;
}

.input-contayner .mail{
    position: absolute;
    right: 105px;
    top: 45px;
}
